<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.javaplayer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="JavaPlayer Audio Center"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArtistActivity"
            android:label="JavaPlayer MusicMachine"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".ReaderActivity"
            android:label="JavaPlayer AudioBooks"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".PodcastActivity"
            android:label="JavaPlayer Podcasts"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>